{% extends "baseIndexUserHomePage.html.twig" %}

{% block body %}
<style>
    h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
</style>
<main class="main" id="top">

      <section class="pt-3 pb-9 position-relative">

          <div class="position-md-absolute start-0 ms-2 mt-3 mb-4">
                    <div class="d-lg-flex flex-center-start gap-3 overflow-hidden">
                    <ul class="navbar-nav ms-auto fs-4 ps-6">
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('Gallery') }}">Mes Photos</a></li>
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('Gallery') }}">Mes Albums</a></li>
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('Gallery') }}">Partagé Avec Moi</a></li>
                        
                    </ul>
                    </div>
                </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>

{% endblock %}