{% extends "baseIndexUserHomePage.html.twig" %}

{% block body %}
<style>
    h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
</style>
<main class="main" id="top">
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      
      <section class="py-3">
        <div class="container-fluid px-0">
          <div class="position-absolute w-100 border-dashed-bottom opacity-25 top-5 z-index-1"></div>
          <div class="container px-md-5">
            <div class="row g-0">
              
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>

      <section class="pt-3 pb-9 position-relative">
        <div class="container px-md-5">
          <!--<div class="position-md-absolute start-0 ms-2 mt-3 mb-4">
            <ul class="nav gallery-tab d-flex gap-3" data-filter-nav="data-filter-nav">
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav active" href="#!" data-filter="*">Tout</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".photos">Mes Photos</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".albums">Mes Albums</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".sharedWithMe">Partagé Avec Moi</a></li>
            </ul>
          </div>-->

          <div class="position-md-absolute start-0 ms-2 mt-3 mb-4">
                    <div class="d-lg-flex flex-center-start gap-3 overflow-hidden">
                    <ul class="navbar-nav ms-auto fs-4 ps-6">
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('portFolio') }}">Mes Photos</a></li>
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('Galleries') }}">Mes Albums</a></li>
                        <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-gray fs-3" aria-current="page" href="{{ path('Service') }}">Partagé Avec Moi</a></li>
                        
                    </ul>
                    </div>
                </div>



          
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>

{% endblock %}