{% extends 'baselogin.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img class="img-fluid w-100" src="assets/img/gallery/9.png" alt=""/>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            
           <form>
            
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="email" />
            </div> 

            <div class="form-group">
                <label>Mot de passe</label>
                 <input class="form-control" name="password" />
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
                </div>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="big fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{path('app_register')}}"
                    class="link-danger">Register</a></p>
            </div>

            </form>
        </div>
        </div>
    </div>
    </section>
{% endblock %}
