{% extends "baseContact.html.twig" %}

{% block body %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <section class="py-2">
        <div class="swiper-slide">
            <div class="row align-items-xl-center">
              <div class="col-lg-5"><img class="img-fluid w-100" src="assets/img/exhibitions/img04.png" alt="" />
                <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"></div>
              </div>
              <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                <h1 class="fw-bolder mb-3">InstaKilo</h1>
                <p class="text-warning fs-3 opacity-75">Notre entreprise</p>
                <p class="fs-0">InstaKilo, là où vous mettez toutes vos photos, c’est aussi là où tous vos souvenirs se trouvent. <br>
                Pensée par une équipe d’apprentis ingénieurs de Sup’Galilée, InstaKilo vise à offrir à tout un chacun un espace sécurisé afin d’échanger ses photos avec tout le monde où qu’avec ses proches. <br>
                Ce que nous vous promettons ? Sécurité, confort et transparence. <br>
                Vous aussi, vous voulez découvrir une nouvelle manière de stocker vos photos ? <br>
                Lancez-vous sur InstaKilo, c’est totalement gratuit !</p>
              </div>
            </div>
          </div>
        
      </section>
    </main>

{% endblock %}