{% extends "base.html.twig" %}

{% block body %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-2">

        <div class="container px-md-5">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/team/img1.png" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Ivan REMOND</h4>
                        <p class="text-warning mb-2">CEO</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/team/img2.png" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Emilie LAY</h4>
                        <p class="text-warning mb-2">Art Director</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/team/img3.png" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Thomas CHALLINE</h4>
                        <p class="text-warning mb-2">Cinematographer</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/team/img4.png" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Melissa HAMMAOUI</h4>
                        <p class="text-warning mb-2">Art Director</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="assets/img/team/img5.png" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Killian AROULAPIN</h4>
                        <p class="text-warning mb-2">CEO</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="#!"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="#!"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
    </main>

{% endblock %}