{% extends "base.html.twig" %}

{% block body %}
    <!-- ===============================================-->
    <!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top"> 
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-4 pt-md-0 pb-8 pb-sm-11 mt-lg-n8">
    <div class="container px-md-5">
      <div class="row">
        <div class="col-md-9 col-lg-7">
          </br>
          </br>
          <h1 class="fs-4 fs-md-6 fs-xl-7 mb-5 mb-lg-0 position-relative z-index-2"><span class="fw-thin text-300">Tous vos souvenirs </span><span class="text-400"> au même endroit</span></h1>
        </div>
      </div>
      </br></br>
      <div class="row mt-md-n6">
        </br></br></br></br>
      
        <div class="col-lg-7 position-relative">
          <div class="position-relative overflow-hidden overflow-md-visible"><img class="img-fluid" src="assets/img/home/img1.png" alt="" />
          </div>
          <div class="position-absolute bottom-n100 col-11 mt-6 d-none d-md-block">
            <p class="fs-2 lh-1 text-400">Photographier, c’est une attitude, une façon d’être, une manière de vivre. – Henri Cartier-Bresson </p>
          </div>
        </div>
        <div class="col-2 d-none d-lg-block mb-auto"><img class="img-fluid" src="assets/img/home/img3.png" alt="" /></div>
        <div class="col-2 d-none d-lg-block mt-auto"><img class="img-fluid" src="assets/img/home/img2.png" alt="" /></div>
      </div>
    </div>
  </section>
</main>



</section>
{% endblock %}